html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#about,
span {
  color: #90CAF9;
}

.homepage::before {
  content: "";
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 80vh;
  /* background-image: image-set('../images/IMG_4926.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  opacity: 0.2;
  /* Adjust opacity as desired */
  z-index: 1;
  background-color: #000000;

}

.homepage {
  /* background-color: #4b4b4b; */
  height: 80vh;



}

.homepage * {
  z-index: 100;
}
.slideshow-container {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background color with transparency */
  z-index: -1;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 100%;
}

.introduction {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  text-shadow: 1px 1px 2px white;

}

.introduction .logo2 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: #111111;
  opacity: 1;

}

.logo2 img {
  width: 35%;

}

.logo2 p {
  /* margin-top: 5px; */
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.wrapper2 {
  padding-top: 50px;
}

.servicepage {
  position: relative;
  top: -80px;
}

.service_collection {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;

}

.service_collection h5 {
  font-size: 25px;
}

.service_collection p {
  font-size: 15px;

}

.services {
  position: relative;
  display: flex;
  width: 300px;
  height: 220px;
  color: black;
  flex-direction: column;
  background: linear-gradient(to bottom, #90CAF9, #00263f);
  border-radius: 10px;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s, background-color 0.8s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1), 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: center;
  padding: 10PX;

}

.services.animate {
  opacity: 1;
  transform: translateX(0);
}

.services .content {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.services .content h5 {
  margin: 0;
  color: white;
}

.service_image {
  position: absolute;
  /* top: px; */
  left: 125px;
  width: 80px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.8s ease;
}

.service_image img {
  width: 100%;
}

/* .item1{
grid-area: item1;
background-color: #21758F;

}
.item1 span{
    color: #F9991D;
}
.item1 h1{
    font-size: 3em;
    text-transform: capitalize;
}
.item1 p{
    text-align: center;
    
  
}

.wrapper{
   height: 100vh;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:1fr ;
    grid-template-areas: 
    'item1' ;
    } */
.container3 {

  padding: 20px;
  line-height: 1.2;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 9%;
  display: flex;
  gap: 50px;
  margin-top: 100px;
  align-self: center;
  justify-content: center;
  text-align: center;
  line-height: 2.0;


}


.container3 .text {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  width: 80%;




}

.container3 .text h1 {
  color: #2E7D32;
  line-height: 50px;
  margin-bottom: 50px;

}

.container3 .text p {
  align-self: center;
  justify-content: center;
  text-align: center;
  line-height: 40px;


}

.container2 .text p strong {
  color: #90CAF9;
  left: 50%;
}

.container3 h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.container3 p {
  text-align: start;

}

.container2 {

  padding: 20px;
  line-height: 1.2;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 9%;
  display: flex;
  gap: 50px;
  margin-top: 100px;
  align-self: center;
  justify-content: center;
  text-align: center;

}

.background img{
  width: 50px;
}
.container2 .text {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  width: 80%;
  margin-right: 50%;
  margin-top: 15%;



}

.container2 .text h1 {
  color: #2E7D32;
  line-height: 50px;
  margin-bottom: 50px;

}

.container2 .text p {
  align-self: center;
  justify-content: center;
  text-align: center;
  line-height: 40px;

}

.container2 .text p strong {
  color: #90CAF9;
  left: 50%;
}

.container2 .image {
  display: flex;
  align-items: center;
}

.container2 .image img {
  width: 50%;
}

.container2 h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.container2 p {
  text-align: start;

}


strong {
  font-weight: bold;
}

.company-name1 {
  font-weight: bold;
  color: #90CAF9;
  font-size: 29px;
}

.container {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background: linear-gradient(to bottom, #cde9ff, #5cb0f6);
  color: white;
  padding: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 20px;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  line-height: 2.0;
}

.container.show {
  opacity: 1;
  transform: translateX(0);
}

.header {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 50px;
}

.container .header h1 {
  color: #2E7D32;
}


.container h1,
h1,
p {
  margin: 0;
  padding: 0;
}

.container h1 {
  /* font-size: 32px; */
  margin-bottom: 20px;

}

.container h1 {
  /* font-size: 24px; */
  text-align: center;
  /* border-bottom: 2px solid white; */
  padding-bottom: 10px;
  color: #2E7D32;
}

.container p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
.vision img{
  position: relative;
  left: 45%;
}
.mission img{
  position: relative;
  left: 45%;
}

@media (max-width:1110px) {

  .homepage{
    height: 75vh;
  }
.slideshow-container{
  height: 80vh;
}

  .logo2 {
    width: 100%;
    word-wrap: break-word;
  }

  .logo2 img {
    width: 30%;
    word-wrap: break-word;
  }

  .logo2 p {
    font-size: 40px;
  }


}

@media (max-width:1000px) {

  .col2 .image img {
    width: 100%;
  }

  .container2 {
    padding: 0px;
    width: 90%;
  }

  .container2 .text {
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    gap: 10px;
  }
}


@media (max-width: 768px) {

  .homepage{
    height: 50vh;
  }
  .homepage::before{
    height: 50vh;
  }
.slideshow-container{
  height: 50vh;
}

  .introduction {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .introduction .logo2 p {
    font-size: 35px;
  }

  .introduction .logo2 img {
    width: 20%;
  }

  .container2 {

    padding: 0px;
    line-height: 1.2;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 9%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
  }

  .container2 .text {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 10px;
  }

  .container2 .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .container2 .image img {
    width: 80%;
  }

  .container {
    padding: 50px 10px;
    width: 85%;
  }


  .header {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 50px;
  }


  .container .vision,
  .container .mission {
    grid-column: 1 / -1;
    text-align: center;
  }
  .vision img{
    position: relative;
    left: 0%;
  }
  .mission img{
    position: relative;
    left: 0%;
  }

}

@media (max-width:680px) {

  .homepage{
    height: 50vh;
  }
  .homepage::before{
    height: 50vh;
  }
.slideshow-container{
  height: 50vh;
}

  .introduction {
    flex-direction: column;
  }

  .introduction .logo2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .introduction .logo2 p {
    font-size: 30px;
  }

  .introduction .logo2 img {
    width: 20%;
  }

  .col2 {
    width: 100%;
  }

  .col2 .image {
    width: 100%;
    justify-content: center;
  }

  .col2 .image img {
    width: 50%;
  }

}

@media (max-width: 460px) {
  .homepage{
    height: 50vh;
  }
  .homepage::before{
    height: 50vh;
  }
.slideshow-container{
  height: 50vh;
}

  .introduction {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 0px;
    margin: 0 auto;
    justify-content: center;


  }

  .introduction .logo2 p {
    font-size: 20px;
  }

  .introduction .logo2 img {
    width: 20%;
  }

  /* .wrapper2 {
    padding-bottom: 70px;
  } */
  .service_image {
    position: absolute;
    /* top: px; */
    left: 103px;
    width: 80px;
    height: 50px;
    opacity: 1;
    transition: opacity 0.8s ease;
  }

  .container2 .image img {
    width: 100%;
  }

  .container2 .text {
    line-height: 1.5;
  }

  .container2 .text h1 {
    font-size: 25px;
  }

  .container .header h1 {
    font-size: 25px;
  }
}