body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* Use the Poppins font or your preferred font */
}

#addmissions,
span {
    color: #90CAF9;
}
.intro1{
    padding-top: 50px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 50px;
    text-wrap: wrap;
}
.admission_procedure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2;
}

.register{   
    color: white;
    margin-top: 50px;
    text-decoration: none;
    border-radius: 13.029px;
    background: #90CAF9;
    box-shadow: 0px 4px 33px 6px rgba(62, 106, 144, 0.16);
    padding: 15px 20px 15px 20px;
    transition: background-color 0.3s ease-in;

}

@media (max-width: 768px){
    .intro1{
     flex-wrap: wrap;
    }   
    .intro1 img{
        width: 100%;
    }
    
}