html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
#contact,
span {
    color: #90CAF9;
}
.homepage::before {
    content: "";
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 70vh;
     background-image: image-set('../images/IMG_4926.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7; /* Adjust opacity as desired */
    z-index: 1;
   

}
.homepage{
    background-color: #ffffff;
    height: 70vh;
}


.introduction {
    height: 50vh;
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    padding-bottom: 100px;
    font-family: 'Arial', sans-serif;

    color: black;
    z-index: 1;
    justify-content: center;
    align-items: center;
    

}

.quote-section {
    text-align: center;
    margin: 150px;
    z-index: 99;
    line-height: 1.5;
    
    
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.quote-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    overflow: hidden;
    /* Hide the overflowing text */
    animation: typing 3s steps(20);
    white-space: nowrap;
    /* Prevent line breaks */
    border-right: 2px solid #000;
    /* Add a blinking cursor effect */

}

.quote-section p {
    font-size: 24px;
    margin-bottom: 30px;
    color: black;
}

.quote-section button {
    width: 186px;
    height: 39px;
    color: white;
    text-decoration: none;
    border-radius: 13.029px;
    background: #0a9d4c;
    box-shadow: 0px 4px 33px 6px rgba(62, 106, 144, 0.16);
    padding: 10px 15px 10px 15px;
    transition: background-color 0.3s ease-in;
}

.quote-section button:hover {
    background-color: #90CAF9;
}

.servicepage {
    position: relative;
    top: -70px;
    z-index: 10;
    /* background-color: orange; */
}

.service_collection {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 25px;
}

.services {
    position: relative;
    display: flex;
    width: 280px;
    color: #909090;
    flex-direction: column;
    background-color: #ffffff;
    transition: background-color 0.8s ease;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.services .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;

}

.services .content h5,p {
    margin: 0;
    color: black;
}
.services .content a{
    color: #0a9d4c;
  
}

.services .content .social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.services .content .social-icons img {
    width: 25px;
}

.services .content .social-icons a {
    color: black;
    text-decoration: none;
}

.services .image-container {
    position: absolute;
    top: 10px;
    left: 40%;
    opacity: 1;
    transition: opacity 0.8s ease;
}
.service_collection .image-container .content a{
    transition: background-color 0.3s ease-in;
}
.service_collection .image-container .content a:hover {
    background-color: #90CAF9
}


.services .image-container img {
    width: 50px;
    height: 50px;
}

.services:hover {
    transform: translateY(-10px);
}

.contactform {
    display: flex;
    width: 65%;
    margin: 0 auto;
    gap: 30px;

    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1);
    padding: 50px;
  background: linear-gradient(to bottom, #90CAF9, #00263f);
    border-radius: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 55%;
    justify-content: center;
}

form div {
    display: flex;
    gap: 10px;
}

form div label {
    width: 20%;
}

form div input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
}

form div textarea {
    width: 70%;
    resize: none;
    border-radius: 5px;
}

iframe {
    width: 45%;
}


button {
    background-color: #2E7D32;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    width: 250px;
    align-self: center;
}

button:hover {
    background-color: #90CAF9;
}


@media (max-width:1110px) {
    .contactform {
        width: 75%;
        padding: 40px;
    }
}

@media (max-width:1000px) {
    
    .quote-section{
        margin: 0 auto;
    }
   
    .quote-section h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .quote-section p {
        font-size: 20px;
        margin-bottom: 30px;
    }

    /* .quote-section button {
    
    } */
}


@media (max-width: 768px) {
    
    .introduction {
        display: flex;
        width: 85%;
        margin: 0 auto;
        justify-content: center;
    }
    .quote-section{
        margin: 0 auto;
    }
   

    .quote-section h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .quote-section p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    /* .quote-section button {
        
    } */

    .contactform {
        width: 80%;
        padding: 25px;
    }

    
}

@media (max-width:680px) {
    .contactform {
        width: 85%;
        flex-direction: column;
        padding: 50px 10px;
    }
    .quote-section{
        margin: 0 auto;
    }
   

    form {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 400px;
    }


}

@media (max-width: 460px) {
    .introduction {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: center;

    }

    iframe {
        height: 300px;
    }
    .quote-section{
        margin: 0 auto;
    }
   

    .quote-section h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .quote-section p {
        font-size: 15px;
        margin-bottom: 30px;
    }

    /* .quote-section button {
       
    } */

}